@charset "UTF-8";

/* Modified Jan 27, 2022_06:32:55

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
-------------------------------- TYPOGRAPHY -------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */


/* Begin Blockquote */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/* End  */


/* Comment */



/*Ends Comment */




/* Do not touch below */

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  /* EDIT: new syntax for FF 15+ */
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 2;
  color: #83919a;
  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures; }

h1 {
  font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #1A2125;
  font-size: 3.5em;
  line-height: 1.2; }

.lede {
  font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.9em;
  line-height: 1.6;
  color: #83919a;
  margin-bottom: 2em; }

h2 {
  font-size: 2.4em;
  color: #1A2125;
  font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3; }

h2.small {
  font-size: 1.9em; }

h2.lede {
  margin-top: 0; }

h2.section-title {
  margin-bottom: 3em; }

h3, .page-link, .creative-fields {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  font-size: 0.8em;
  color: #465863; }

h3 {
  font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500; }

h3.hangar-strapline {
  margin: 1em 0 3em;
  color: #465863; }

h3.title {
  margin-bottom: 0.2em;
  color: #1A2125;
  font-size: 1em;
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400; }

h4 {
  color: #465863;
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0; }

.page-link {
  font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #313E46;
  border-bottom: 3px solid #f8d055;
  padding-bottom: 3px; }

.pre-sub {
  margin-bottom: 0.2em; }

.bullet {
  color: #bbb;
  margin: 0 8px; }

a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  color: #1A2125;
  border-bottom: 3px solid #f8d055;
  padding-bottom: 2px; }

a:hover, a:active, a:focus {
  text-decoration: none;
  color: #444;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

a:active, a:focus {
  text-decoration: none;
  border: none; }

.medium-size {
  font-size: 0.9em; }

.sans {
  font-size: 0.8em; }

a.logo {
  border: none; }

a.logo:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7; }

.gradient-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.92+57,0.4+100 */
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.92) 57%, rgba(255, 255, 255, 0.4) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.92) 57%, rgba(255, 255, 255, 0.4) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.92) 57%, rgba(255, 255, 255, 0.4) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=0 );
  /* IE6-9 */ }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
--------------------------------- SITEWIDE --------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
::selection {
  background: #F9EFCC;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #F9EFCC;
  /* Gecko Browsers */ }

body, html {
  height: 100%;
  position: relative; }

html.locked {
  overflow: hidden; }

.table {
  display: table;
  height: 100%;
  width: 100%; }

.table-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

.inline li {
  display: inline; }

.no-bullets {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none; }

.centered {
  text-align: center; }

.bg {
  background-color: #f3f3f3; }

.cta-wrap {
  padding: 3em 0; }

.call-to-action {
  padding: 4em 0 5em; }
  .call-to-action h2 a {
    border-bottom: 3px solid #f8d055; }

.ghost-button, .ghost-button:active {
  border: 1px solid #e5e5e5 !important;
  display: inline-block !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1.8em 50px;
  color: #1A2125;
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em; }
  .ghost-button span, .ghost-button:active span {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    left: 0; }

.ghost-button:hover span, .ghost-button:active span, .ghost-button:focus span {
  left: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.button-style {
  background: #f8d055;
  display: inline-block;
  padding: 2em 6em;
  color: white;
  border-bottom: 2px solid #7C755A;
  font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

.button-style:hover {
  background: #1A2125;
  border-bottom: none;
  border-top: 2px solid #000;
  color: white;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }

.button-style:active {
  border-top: 2px solid #000; }

.video-wrapper, .video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-wrap {
  padding-top: 0;
  margin-bottom: 30px; }

.video-wrapper iframe, .video-wrap iframe, .video-wrap video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-wrap .fb-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.video-wrap {
  overflow: hidden; }

.video-wrap img {
  position: relative;
  z-index: 10;
  top: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.video-wrap:hover .video-screenshot {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.video-wrap .table {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

.more-case .bg {
  padding-top: 2em;
  padding-bottom: 4em;
  margin-bottom: 30px; }

.more-case .bg h3 {
  margin-bottom: 2em; }

.mobile {
  display: none; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- LAYOUT ---------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
/* Put behind .flexbox for Feature detection with Modernizr */
.flexbox .flex-card-list, .owl-stage {
  display: flex;
  flex-wrap: wrap; }

.flexbox .flex-card-listitem, .owl-item {
  display: flex; }

.owl-item, .owl-item .flex-card, .owl-item .flex-card-listitem {
  width: 100%; }

.flexbox .flex-card {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: white;
  margin-bottom: 2em; }

.flexbox .flex-card-content {
  display: flex;
  flex: 1 0 auto;
  /* We have to add a basis for IE10/11 */
  flex-direction: column; }

.flexbox .flex-card-content p {
  flex: 1 0 auto;
  /* We have to add a basis for IE10/11 */ }

.page-section {
  padding: 4em 0 3em; }

.people img {
  width: 120px;
  margin-bottom: 2em; }

ul.people-list li.col-md-4:nth-child(3n+1) {
  clear: left; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
--------------------------------- CAROUSEL --------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.owl-carousel {
  position: relative; }

.owl-prev, .owl-next {
  background: url(../img/arrows.png) 15px 18px no-repeat rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

.owl-prev:hover, .owl-next:hover {
  background-color: white; }

.owl-prev {
  left: 10px; }

.owl-next {
  right: 10px;
  background-position: -31px 18px; }

#carousel {
  padding: 0 0 2em; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- HEADER ---------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.overlay {
  background: white;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none; }

.top-bar-outer {
  width: 100%;
  z-index: 95;
  position: fixed;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: 70px; }

.top-bar-outer.with-bg {
  background: rgba(255, 255, 255, 0.9); }

.top-bar-inner {
  padding: 1em 0;
  position: relative;
  z-index: 900; }

.burger-wrap {
  cursor: pointer;
  position: relative;
  z-index: 9000;
  height: 70px;
  width: 130px;
  padding: 25px 0;
  text-align: right; }

.burger-wrap span {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }

.burger-wrap.cross span {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  position: relative; }

.burger-wrap.cross .line-two {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -8px; }

.burger-wrap.cross .line-one {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 6px; }

.burger-icon {
  display: inline-block; }

span.text {
  margin-right: 5px;
  vertical-align: top;
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6em;
  letter-spacing: 1px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7; }

.burger-icon span {
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background: #1A2125;
  display: block; }

.nav-outer {
  position: fixed;
  z-index: 90;
  top: 0;
  right: -150%;
  height: 100%;
  -webkit-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.nav-wrap {
  background: #f3f3f3;
  padding: 6em 0;
  position: relative;
  height: 100%; }

.nav-outer.open {
  top: 0;
  right: 0;
  width: 50%;
  -webkit-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.main-nav {
  margin: 3em auto;
  position: relative;
  left: 100%;
  max-width: 800px;
  padding: 0 60px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }

.nav-outer.open .main-nav {
  left: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.main-nav li {
  font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.4em;
  font-size: 5vh;
  line-height: 1; }

.main-nav li a {
  border: 0;
  padding: 0.5em 0;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #1A2125; }

.main-nav ul:hover li a {
  color: #aab8c1; }

.main-nav li a:hover {
  color: #1A2125 !important; }

.social {
  position: absolute;
  bottom: 10%;
  left: 60px;
  width: 100%; }

.social li a {
  padding: 0 0 0.2em;
  display: inline;
  text-transform: uppercase;
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6em;
  color: #465863;
  letter-spacing: 0.05em; }

.social li a:hover {
  border-bottom: 2px solid #f8d055;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  transition: 0.1s all; }

.social li + li {
  margin-left: 10px; }

.main-nav li a:hover {
  color: #f8d055;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.copyright {
  font-size: 0.7em;
  color: #86939A;
  margin-bottom: 4em; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- FORMS ----------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
input {
  border: none;
  border-bottom: 2px solid #f8d055;
  background: none;
  display: block;
  width: 100%;
  color: white; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- FOOTER ---------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.main-footer {
  background: url(../img/hangar-pattern.svg) #313E46;
  background-position: 50%;
  background-attachment: fixed;
  -webkit-background-size: 954px;
  -moz-background-size: 954px;
  -o-background-size: 954px;
  background-size: 954px; }
  .main-footer h2 {
    margin-bottom: 0;
    font-size: 1em; }
  .main-footer input[type="submit"] {
    min-width: auto;
    padding: 0;
    width: 120px;
    position: absolute;
    right: 0;
    background: none;
    color: white;
    bottom: 26px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.footer-inner {
  padding: 6em 0; }
  .footer-inner h3 {
    color: #83919a; }

.large-link {
  color: white;
  font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.9em;
  border: none;
  display: inline-block; }

.large-link:hover, .large-link:focus {
  color: white; }

.mailchimp-wrap {
  padding-right: 120px; }
  .mailchimp-wrap input {
    float: left; }

.footer-inner-wrap {
  padding: 1em 0;
  position: relative; }

.social-links li {
  display: inline-block; }

.social-links li a:hover {
  border: none; }

.social-links li + li {
  margin-left: 12px; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- PROFILE --------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.profile-intro.page-section {
  height: 100%; }

.profile-intro.page-section h1 {
  position: relative;
  margin-top: 4em;
  color: #313E46; }

.profile-intro.page-section.autoHeight {
  height: 60%;
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

span.numeral {
  font-size: 1.5em;
  line-height: 1;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500;
  left: 0;
  color: #f8d055; }

.big-number {
  color: #f8d055;
  font-size: 10em;
  line-height: 0;
  font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 0.6em; }

.big-number + h3 {
  margin-top: 0;
  margin-bottom: 5em; }

.philosophy li:nth-child(2n+1) {
  clear: left; }

.phil-header {
  margin-bottom: 4em; }

.phil-wrap {
  padding: 0 2em 2em;
  position: relative; }

.block-wrap {
  padding: 0 30px; }

.block-wrap h3 {
  margin-bottom: 0.2em; }

.block-wrap img {
  margin: 1.5em 0 0; }

.purpose .col-sm-6 p {
  margin-bottom: 3em; }

.services-list li:before {
  content: '';
  display: inline-block;
  border-bottom: 1px solid #f8d055;
  width: 10px;
  margin-right: 2px; }

.profile-wrap {
  margin-bottom: 4em; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- STORIES --------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.first-story {
  margin-top: 2em; }

.story-list {
  border-top: 2px solid #f3f3f3; }

.story-header h1 {
  margin-bottom: 0;
  margin-top: 0.3em; }

.date {
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #83919a; }

.story-image {
  padding: 0 0 4em; }

.stories-header {
  padding: 2em 0; }

.story-title-wrap {
  padding: 4em 0; }

.story-wrap {
  padding: 5em 0 0; }

.story-liner {
  font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.9em;
  color: #83919a;
  padding: 0;
  margin-bottom: 1em;
  line-height: 1.2; }

.story-content p, .story-content ul {
  color: #313E46; }

.story-content p, .story-content pre, .story-content ul {
  margin: 2em 0; }

.story-content h2 {
  font-size: 1.9em;
  line-height: 1.2; }

.story-content ul {
  text-indent: 0;
  padding: 0;
  list-style: none; }
  .story-content ul li {
    text-indent: -28px;
    padding-left: 40px; }
  .story-content ul li::before {
    content: "•";
    margin-right: 20px;
    color: #465863; }

.story-author {
  font-size: 0.8em;
  color: #83919a;
  padding: 4em 0;
  margin-bottom: 3em; }
  .story-author img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    margin-top: 5px; }
  .story-author h4 {
    margin-bottom: 0;
    font-size: 1em;
    color: #313E46; }
  .story-author p {
    margin-top: 0; }

.category {
  font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #83919a;
  font-size: 0.7em; }

.pagination-wrap {
  padding: 3em 0 0; }

.pagination-wrap h3 {
  margin-bottom: 3em; }

.pagination .order {
  display: block;
  color: #f8d055;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.05em;
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400; }

.pagination .title {
  color: #1A2125; }

.pagination a:hover .title {
  color: #1A2125; }

.arrow {
  display: inline-block; }

.page-info-wrap {
  display: inline-block; }

.stories-section {
  padding-top: 6em; }

.story-row {
  margin-bottom: 3em; }
  .story-row a {
    display: block;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    border: 0;
    margin-bottom: 5em;
    position: relative; }
    .story-row a h2 {
      font-size: 1.9em; }
  .story-row a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .story-row img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block; }
  .story-row .story-liner:after {
    display: none; }
  .story-row .story-text-wrap .image-wrap {
    background: #f8d055;
    margin-bottom: 2em; }
  .story-row .story-text-wrap h3 {
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.2em;
    font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
    font-style: normal;
    font-weight: 300; }
  .story-row a:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.cta-link {
  border: none;
  display: inline-block;
  margin: 3em 0;
  font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- SERVICES -------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.tabbed-nav {
  margin-top: 3em; }

.tabbed-nav ul {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  text-align: center; }

.tabbed-nav li a {
  display: inline-block;
  padding: 10px 10px 20px;
  color: #999;
  font-size: 0.6em; }

.tabbed-nav li a:hover {
  color: #1A2125 !important; }

.tabbed-nav li + li {
  margin-left: 20px; }

.tabbed-nav li a.active {
  border-bottom: 3px solid #f8d055;
  color: #1A2125; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
------------------------------- CASE STUDIES ------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.creative-fields {
  color: #aab8c1; }

.client-name {
  text-transform: uppercase;
  color: #313E46;
  letter-spacing: 0.1em; }

.creative-list li {
  margin-right: 15px; }

.creative-list h2 {
  display: inline-block;
  margin: 0; }

.project-lead-in {
  padding-top: 4em;
  padding-bottom: 6em; }

.project-information {
  padding-bottom: 3em; }
  .project-information .project-info-wrap {
    padding-bottom: 2em;
    max-width: 500px; }
  .project-information .creative-fields {
    text-align: right; }
  .project-information .project-credits {
    text-align: right;
    font-size: 0.8em;
    color: #aab8c1;
    margin-bottom: -4em;
    line-height: 1.4; }

.case-study-list {
  padding-top: 5em; }
  .case-study-list .row-last {
    margin-bottom: 2em;
    padding-top: 0; }

.case-study-list .work-list li {
  margin-bottom: 30px; }
  .case-study-list .work-list li a {
    position: relative;
    overflow: hidden;
    display: block;
    border: none; }
  .case-study-list .work-list li .view-project-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    .case-study-list .work-list li .view-project-inner h2 {
      margin-bottom: 0;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      font-size: 1.9em;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }
    .case-study-list .work-list li .view-project-inner h2, .case-study-list .work-list li .view-project-inner .page-link {
      color: white;
      border: none; }
    .case-study-list .work-list li .view-project-inner .project-text-wrap {
      padding: 30px;
      max-width: 450px; }
    .case-study-list .work-list li .view-project-inner .client-name {
      color: rgba(255, 255, 255, 0.4); }
  .case-study-list .work-list li a:hover .view-project-inner {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    background: rgba(26, 33, 37, 0.9);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border: 20px solid white; }
  .case-study-list .work-list li a:hover h2 {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s; }
  .case-study-list .work-list li a:hover img {
    -webkit-transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

.case-study-list .work-list li:nth-child(2n+1) {
  clear: left; }

h2 a {
  color: #1A2125;
  border: none; }

.work-header {
  padding-top: 4em;
  padding-bottom: 5em; }
  


.work-hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
  height: 100%;
  margin-bottom: 3em; }



.work-panel .button-style {
  background: none;
  border: 2px solid #f8d055;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0.4em;
  color: #f8d055;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 1.4em 4em;
  line-height: 1; }

.testimonial {
  padding: 5em 0 3em; }

.testimonial .lede {
  margin-bottom: 1em;
  position: relative;
  z-index: 1; }

.testimonial .lede:before {
  content: '“';
  font-family: 'Georgia';
  font-size: 4em;
  line-height: 1;
  color: #ffeaab;
  z-index: -1;
  position: absolute;
  top: -20px;
  left: -30px; }

.testimonial-name {
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #465863;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

.project-image {
  margin-bottom: 30px; }

.video-shot {
  cursor: pointer; }

.play {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.play i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  font-style: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -65px;
  width: 130px;
  height: 100px;
  z-index: 2;
  font-size: 40px;
  cursor: pointer;
  color: #1A2125;
  background: white;
  display: inline-block;
  padding: 30px 35px;
  line-height: 1;
  background: #f8d055;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.video-inner {
  cursor: pointer; }

.video-inner:hover .play i {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.video-outer {
  padding-bottom: 1em; }

.case-study-header.index {
  padding: 4em 0 0; }

.case-study-header h1 {
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

.results .bg {
  padding-top: 4em;
  padding-bottom: 3em;
  margin-bottom: 30px; }

.results-figure {
  font-size: 3.5em;
  color: #1A2125;
  font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.25em; }

.results-detail {
  font-family: "azo-sans-web-n3","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.3;
  letter-spacing: 0.08em; }

.results li:nth-child(3n+1) {
  clear: left; }

.results h2 {
  margin-bottom: 2em; }

.unit {
  font-size: 60%;
  margin-left: -0.2em; }

.results-wrap {
  padding: 0 20px 3em; }

.next-case {
  padding: 4em 0 6em; }
  .next-case h3 {
    font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
    font-style: normal;
    font-weight: 400; }

.next-case h2 {
  margin: 0.3em 0; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- CONTACT --------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.contact-form {
  padding-bottom: 2em; }

.button.contact-button, .button.contact-button:hover {
  margin: 1em 0;
  display: inline-block;
  max-width: none; }

.field, .submit {
  width: 100%;
  padding: 2em 15px; }

label {
  font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #465863; }

input {
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

input[type="text"] {
  border: none;
  border-bottom: 3px solid #e5e5e5;
  background: none;
  width: 100%;
  display: block;
  padding: 0.5em 0;
  color: #1A2125; }

input[type="text"]:focus {
  border-color: #f8d055; }

#fields-fullName-field, #fields-email-field, #fields-company-field {
  width: 33.3333%;
  float: left; }

input[type="submit"], .button, .button:hover {
  background: #f8d055;
  border: none;
  max-width: 300px;
  padding: 1.8em 60px;
  color: #313E46;
  min-width: 200px;
  -moz-box-shadow: 0 1px 0 #f3f3f3;
  -webkit-box-shadow: 0 1px 0 #f3f3f3;
  box-shadow: 0 1px 0 #f3f3f3;
  display: inline-block;
  font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 500;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em; }

.checkbox-select {
  padding: 1em 0;
  display: block; }

.checkbox-select > div {
  float: left;
  width: 45%;
  margin-right: 30px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden; }

.checkbox-select:before, .checkbox-select:after {
  content: '';
  display: table; }

.checkbox-select label {
  display: block;
  padding: 10px;
  background: #f3f3f3; }

.checkbox-select > div.selected label {
  background-color: #f8d055;
  color: #1A2125 !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.checkbox-select > div.selected input {
  -webkit-appearance: none;
  background: none !important; }

.contact-form .checkbox-select input {
  position: absolute;
  border: none;
  left: -10%;
  top: 0;
  margin: 0;
  height: 100%;
  width: 210%;
  cursor: pointer; }

#fields-projectType-field, #fields-doYouHaveABudget-field, #fields-wouldYouLikeToShareAnythingElse-field {
  clear: left; }

#fields-doYouHaveABudget-field, #fields-doYouHaveATimeline-field {
  float: left;
  width: 50%; }

.contact-page {
  padding-top: 5em !important; }
  .contact-page h2 {
    margin-bottom: 2em; }
    .contact-page h2 a {
      border-bottom: 3px solid #f8d055;
      font-family: "azo-sans-web-n5","azo-sans-web",sans-serif;
      font-style: normal;
      font-weight: 500; }

select {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  outline: none;
  border-bottom: 3px solid #e5e5e5;
  width: 100%;
  display: block;
  padding: 0.5em 0;
  color: #1A2125;
  background: url("../img/dropdown.svg") no-repeat right center;
  -webkit-background-size: 18px;
  -moz-background-size: 18px;
  -o-background-size: 18px;
  background-size: 18px; }

select:focus {
  border-color: #f8d055; }

#fields-referral-field {
  width: 50%; }

@media (max-width: 768px) {
  #fields-referral-field {
    width: 100%; } }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- HOMEPAGE -------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.site-name {
  margin-bottom: 0.2em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; }

.home-video {
  padding-bottom: 8em; }
  .home-video .video-wrap {
    margin: 5em 0; }

.home-page {
  height: 100%;
  background: #f3f3f3;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  max-height: 650px; }
  .home-page #bm {
    position: relative;
    width: 100%;
    max-height: 650px;
    overflow: hidden; }
    .home-page #bm svg {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
      -moz-opacity: 0.07;
      -khtml-opacity: 0.07;
      opacity: 0.07;
      margin-bottom: -10px; }
    .home-page #bm .home-page-inner-text {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10; }
      .home-page #bm .home-page-inner-text .home-page-site-name-wrap {
        padding: 0 12%; }
    .home-page #bm .site-name {
      font-size: 3em; }
    .home-page #bm .lede {
      line-height: 1.3; }

.home-page.scrolled {
  background: white; }

.collaborative {
  padding: 5em 0; }

.morphext > .animated {
  display: inline-block; }

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
------------------------------- MEDIA QUERIES -----------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
@media (min-width: 1400px) {
  .container {
    width: 1360px;
    padding-left: 30px;
    padding-right: 30px; } }

@media (max-width: 1200px) {
  .case-study-list .work-list li .view-project-inner {
    position: static;
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    border: none;
    padding: 1em 0 2.5em; }
    .case-study-list .work-list li .view-project-inner .project-text-wrap {
      padding: 0; }
      .case-study-list .work-list li .view-project-inner .project-text-wrap h2, .case-study-list .work-list li .view-project-inner .project-text-wrap .page-link {
        color: #313E46;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$transparency*100)";
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1; }
      .case-study-list .work-list li .view-project-inner .project-text-wrap .client-name {
        color: #313E46;
        letter-spacing: 0.05em;
        font-size: 0.8em; }
      .case-study-list .work-list li .view-project-inner .project-text-wrap h2 {
        margin-top: 0;
        font-size: 1em;
        font-family: "azo-sans-web-n4","azo-sans-web",sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #aab8c1; }
  .case-study-list .work-list li a:hover .view-project-inner {
    background: none;
    border: none; }
  .case-study-list .work-list li a:hover img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .case-study-list .work-list li a:hover h2 {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }




@media (max-width: 990px) {
  .column {
    width: 180px; }
  .profile-photo {
    margin-top: 2em; }
  .image-view, .text-view, .mobile {
    width: 100%;
    display: block; }
  .text-view {
    padding: 0.5em 5% 3em; }
  .text-view h2 {
    margin-top: 0; }
  .desktop {
    display: none; }
  .nav-outer.open {
    width: 100%; }
  .home-page {
    max-height: none;
    height: 600px; }
    .home-page #bm {
      max-height: none;
      height: 600px; }
      .home-page #bm .site-name {
        font-size: 2.6em; }
      .home-page #bm .home-page-inner-text {
        padding: 3em 0; }
      .home-page #bm svg[style] {
        width: 180% !important;
        margin-left: -40%; } }

@media (max-width: 767px) {
  .owl-prev, .owl-next {
    display: none; }
  .checkbox-select > div, #fields-fullName-field, #fields-email-field, #fields-company-field, #fields-doYouHaveABudget-field, #fields-doYouHaveATimeline-field, #fields-fullName-field, #fields-email-field, #fields-company-field {
    width: 100%; }
  .field, .submit {
    padding: 1em 0; }
  .results li:nth-child(3n+1) {
    clear: none; }
  .results li:nth-child(2n+1) {
    clear: left; }
  .top-bar-inner {
    padding: 1em 0; }
  a.logo img {
    width: 40px; }
  .case-study-list .work-list-item {
    padding-top: 0; }
  .story-row {
    max-width: 600px; }
  .work-header {
    padding-bottom: 0 auto; }
  .project-lead-in {
    padding-bottom: 2em;
    padding-top: 3em; }
  .project-information {
    padding-bottom: 0; }
  .creative-list {
    overflow: scroll;
    white-space: nowrap;
    padding-bottom: 20px;
    padding-right: 90px; }
  .creative-list-outer-wrap {
    position: relative; }
  .home-page {
    height: 400px; }
    .home-page #bm {
      height: 400px; }
      .home-page #bm .home-page-inner-text {
        padding: 3em 0; }
      .home-page #bm svg[style] {
        width: 230% !important;
        margin-left: -65%; }
  .creative-list:after {
    position: absolute;
    width: 160px;
    height: 30px;
    right: 0;
    top: 0;
    display: block;
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+99&0+0,1+100 */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.99) 99%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.99) 99%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.99) 99%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */ } }

@media (max-width: 600px) {
  body {
    font-size: 15px; }
  .home-page #bm .site-name {
    font-size: 1.8em; }
  .container {
    padding-left: 30px;
    padding-right: 30px; }
  .work-list {
    margin-left: -15px;
    margin-right: -15px; }
  .story-content h2 {
    font-size: 1.8em; }
  .lede {
    font-size: 1.2em; }
  h3.title {
    font-size: 1em; }
  .divider {
    width: 60px; }
  .phil-header {
    margin-bottom: 0; }
  .block-wrap {
    padding: 0; }
  .main-nav li a {
    padding-left: 20px; }
  .social, .copyright {
    left: 20px; }
  .work-header {
    margin-left: -30px;
    margin-right: -30px; }


  .burger-wrap {
    height: 50px;
    padding: 16px 0;
    width: auto; }
    .burger-wrap span.text {
      display: none; }
  .social li:nth-child(n+1) {
    margin-left: 0; }
  .social li + li {
    margin-right: 10px; }
  span.numeral {
    top: 0; }
  .phil-wrap {
    padding: 0 0 0 2em; }
  .flexbox .flex-card-listitem, .owl-item {
    margin: 0 auto;
    width: 100%; }
  .profile-intro.page-section.autoHeight {
    height: 60%; }
  .nav-wrap {
    padding: 4em 0; }
  .page-section {
    padding: 3em 0; }
  .top-bar-outer {
    height: 50px; }
  .results .bg {
    padding-top: 1em;
    padding-bottom: 1em; }
  .results-figure {
    font-size: 2em; }
  .campaign-description {
    margin-bottom: 3em; }
  .play i {
    height: 90px;
    font-size: 30px; }
  .project-image {
    margin-bottom: 25px; }
  .logo {
    position: relative;
    top: -5px; }
  .page-section.purpose {
    padding-bottom: 2em; }
  h1, h2, li.story-row h2 {
    font-size: 1.6em; }
  .story-liner {
    font-size: 1.6em; }
  .client-logos-list .column:last-child, li.story-row .col-sm-2 {
    display: none; }
  li.story-row a {
    padding: 1.5em 0; }
  .client-logo-wrap {
    height: 110px; }
  .story-liner:after {
    margin: 1em auto 0; }
  .story-title-wrap {
    padding: 1em 0; }
  .story-image {
    padding: 0 0 0.5em; }
  .work-list-item img {
    margin-bottom: 2em; }
  .testimonial {
    padding: 2em 0; }
  .main-nav {
    padding: 0; }
  .case-study-list {
    padding-top: 0; }
  .home-video .video-wrap {
    margin: 2em 0 3em; }
  .ghost-button, .ghost-button:active {
    padding: 1.5em 40px; }
  .stories-section {
    padding-top: 3em; }
  .story-row {
    margin-bottom: 0; }
    .story-row a {
      margin-bottom: 3em; }
      .story-row a h2 {
        margin: 0; }
  .case-study-list .work-list li {
    margin-bottom: 0; }
  .work-list {
    padding-top: 3.5em; }
  .row-second {
    padding-top: 0; }
  .story-row .story-text-wrap .image-wrap {
    margin-bottom: 1em; }
  h2.section-title {
    margin-bottom: 1em; }
  .testimonial-name {
    font-size: 0.8em;
    letter-spacing: 0.05em; } }
